* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
  }
  
  body {
    font-family: sans-serif;
    margin: 0 auto;
    /* max-width: 500px; */
    min-width: 500px;
    background-color: #FFF2CB;
  }
  
  .container {
    margin-top: 17%;
    /* margin: 10% auto; */
    /* padding: 80px 0; */
    /* text-align: center; */
  }
  
  .container h1 {
    font-size: 4em;
    font-weight: 200;
    color: #556B2F;
    text-align: center;
    font-family: Alfa Slab One, sans-serif;
  }

  .container {
    border: 1px solid rgba(252, 252, 252, 0.4);
  }
  
  input {
    border: 1px solid rgba(193,184,65, 1);
    background-color: rgba(255, 219, 88, 0.2);
    height: 60px;
    width: 475px;
    border-radius: 3px;
    font-family: sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 1.5em;
    color: #556B2F;
    font-weight: lighter;
  }

  .buttonmargin {
    margin-top: 50px;
  }
  
  .enterbutton {
    background-color: #556B2F;
    border: 0;
    /* padding: 10px 15px; */
    color: #FFDB58;
    border-radius: 20px;
    width: 250px;
    height: 60px;
    font-size: 2em;
    text-align: center;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    font-family: Alfa Slab One, sans-serif;
    font-weight: 100;
  }
  
  .heading {
    text-align: left;
    font-size: 3em;
    color: #556B2F;
    margin-top: 50px;
    margin-left: 50px;
    font-family: Permanent Marker, sans-serif;
    font-weight: lighter;
  }

  .orderlists {
    text-align: left;
    font-size: 1.75em;
    color: #807667;
    margin-top: 20px;
    margin-left: 50px;
    font-family: sans-serif;
  }

  label {
    display: block;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 250px;
    color: #807667;
    width: 400px;
    font-size: 1.5em;
    font-family: sans-serif;
  }

  .custom-select {
    position: relative;
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
  }

  .custom-select select {
    height: 60px;
    width: 475px;
    padding-left: 10px;
    background-color: #C1B841;
    font-size: 1.5em;
    color: #556B2F;
    font-weight: lighter;
    border: none;
    font-family: sans-serif;
  }

  img {

    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  .error {
    position: relative;
    display: block;
    color: red;
    font-size: 1.25em;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 5px;
  }

  .fetching {
    margin-top: 200px;
  }


