

.card {
    border-radius: 25px;
    position: relative;
    /* padding: 25px 15px; */
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: left;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    min-height: 250px;
    /* max-height: 250px; */
    min-width: 500px;
    max-width: 500px;
    display: flex;
  }
  
  .top {
    border-radius: 25px 25px 0 0;
    height: 70px;
    width: 100%;
    background-color: #556B2F;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    font-size: 1em;
    /* padding-top: 2.5%; */
  }
  
  .order-id {
    color: #2d3436;
    padding-left: 2.5%;
    color: #FFDB58;
    font-family: sans-serif;
    width: 40%;
    position: relative;
    margin-top: 30px;
  }

  .roomnumber {
    color: #2d3436;
    padding-right: 2.5%;
    color: #FFDB58;
    text-align: right;
    width: 60%;
    position: relative;
    margin-top: 30px;
  }

  .bottom {
    margin: 90px 15px;
    width: 100%;
    display: flex;
  }

  .timestampandorder {
    width: 60%;
    font-size: 1em;
  }

  .orderlistwithavocado {
    color: red;
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .time {
    color: #807667;
  }

  .tag {
    color: #556B2F;
    font-weight: bolder;
    margin-right: 10px;
  }

  .flow {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .delivering {
    height: 125px;
  }

  .orderaccepted {
    color: #C94A4A;
    margin-right: 10px;
    font-size: 2vw;
  }

  .accept {
    font-size: 1em;
    background: rgb(254,190,125);
    background: linear-gradient(90deg, rgba(254,190,125,1) 0%, rgba(254,165,165,1) 35%, rgba(193,255,159,1) 100%);
    /* background-color: #FFDB58; */
    margin-top: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;  
    cursor: pointer; 
    color: #556B2F;
    font-family: Permanent Marker, sans-serif;
    font-weight: bold;
  }

  .accept:hover {
    background-color: #C1B841;
}

  .call {
    /* margin-top: 100px;
    margin-left: 150px; */

    height: 100px;
    width: 100px;
    background: rgb(193,184,65);
    background: radial-gradient(circle, rgba(193,184,65,1) 0%, rgba(85,107,47,1) 100%);
    color: #556B2F;
    border-radius: 100%;
    border: none;
    font-size: 0.9em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-family: Permanent Marker, sans-serif;
  }

  .open {
    height: 100px;
    width: 100px;
    font-size: 0.9em;
    background: rgb(248,255,132);
    background: radial-gradient(circle, rgba(248,255,132,1) 0%, rgba(85,107,47,1) 100%);
    color: #556B2F;
    border-radius: 100%;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-family: Permanent Marker, sans-serif;
  }

  .send {
    height: 100px;
    width: 100px;
    font-size: 0.9em;
    background: rgb(245,206,62);
    background: radial-gradient(circle, rgba(245,206,62,1) 0%, rgba(255,253,175,1) 100%);
    color: #556B2F;
    border-radius: 100%;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    font-family: Permanent Marker, sans-serif;
  }

  .loader {
    height: 70px;
    width: 70px;
  }

  .arrived {
    margin-top: 20px;
    margin-right: 20px;
    color: #556B2F;
    font-family: Permanent Marker, sans-serif;
    background-color: #f8ff84;
    padding: 5px;
  }
