

.card {
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    background-color: #FFFFFF;
    min-height: 300px;
    max-width: 800px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: left;
    display: flex;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .top {
    border-radius: 25px 25px 0 0;
    height: 80px;
    width: 100%;
    background-color: #556B2F;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  }
  
  .order-id {
    font-size: 2em;
    color: #2d3436;
    padding-top: 30px;
    padding-left: 30px;
    color: #FFDB58;
  }

  .roomnumber {
    font-size: 2em;
    color: #2d3436;
    padding-top: 30px;
    padding-left: 30px;
    color: #FFDB58;
  }

  .callavocabot {
    font-size: 1.00em;
    /* padding: 25px 0px; */
    border-radius: 0 25px 0 0;
    /* margin-top: 5px; */
    margin-right: 0px;
    padding: 10px;
    background-color: #C1B841;
    text-align: center;
    color: #556B2F;
    width: 80px;
    height: 60px;
    border: none;
    top: 0;
    right: 0;
  }

  .bottom {
    margin-top: 60px;
    margin-left: 15px;
    display: block;
    height: 185px;
    width: 400px;
  }
  
  p {
      color: #556B2F;
      display: block;
      font-size: 1.25em;
  }

  .order {
    font-size: 1.5em;
    color: red;
    margin: 20px 0px;
  }

  .timestamp {
    margin-top: 10px;
  }

  .time {
    margin: 0px 0px;
    color: #807667;
    font-size: 1.5em;
  }

  .cost {
    margin: 0px 0px;
    color: #807667;
  }

  .button {
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: 150px;
  }

  .not-accept-button {
    border-radius: 5px;  
    background-color: #FFDB58; 
    border: none;
    color: #556B2F;
    padding: 10px 25px;
    text-align: center;
    text-decoration: solid;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer; 
    font-size: 1.25em; 
  }

  .accept-button {
    border-radius: 5px;  
    background-color: #C1B841; 
    border: none;
    color: #556B2F;
    padding: 10px 25px;
    text-align: center;
    text-decoration: solid;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer; 
    font-size: 1.25em; 
  }

  .not-accept-button:hover {
      background-color: #C1B841;
  }

  .tag {
    color: #556B2F;
  }


  .call-avocabot {
      margin-top: 70px;
      margin-left: 100px;
      width: 80px;
      height: 80px;
      background-color: #C1B841;
      color: #556B2F;
      border-radius: 100%;
      border: none;
      font-size: 1em;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .not-call-avocabot {
    margin-top: 70px;
    margin-left: 100px;
    width: 80px;
    height: 80px;
    background-color: #FFDB58;
    color: #556B2F;
    border-radius: 100%;
    border: none;
    font-size: 1em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

  .send-avocabot {
    margin-top: 70px;
    margin-left: 100px;
    width: 80px;
    height: 80px;
    background-color: #FFDB58;
    color: #556B2F;
    border-radius: 100%;
    border: none;
    font-size: 1em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

  .delivering {
    margin-top: 50px;
    margin-left: 120px;
    height: 35%;
    width: 35%;
  }

  .accept {
    margin-top: 200px;
    margin-left: 125px;
    font-size: 1.5em;
    background-color: #556B2F;
    padding: 10px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;  
    cursor: pointer; 
    color: #C1B841;
  }

  .accept:hover {
    background-color: #C1B841;
}

  .call {
    margin-top: 100px;
    margin-left: 150px;
    width: 125px;
    height: 125px;
    background-color: #C1B841;
    color: #556B2F;
    border-radius: 100%;
    border: none;
    font-size: 1.5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

  .open {
    margin-top: 100px;
    margin-left: 150px;
    width: 125px;
    height: 125px;
    background-color: #FFDB58;
    color: #556B2F;
    border-radius: 100%;
    border: none;
    font-size: 1.5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

  .send {
    margin-top: 100px;
    margin-left: 150px;
    width: 125px;
    height: 125px;
    background-color: #FFDB58;
    color: #556B2F;
    border-radius: 100%;
    border: none;
    font-size: 1.5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

  .loader {
    margin-top: 150px;
    margin-left: 150px;
    height: 100px;
    width: 100px;
  }
